.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-headers-color);
}

.logo--secondary-color {
  color: var(--text-hover-color);
}

.footer__logo--color {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-white);
  display: block;
}
