.our-clients__text {
  color: var(--text-headers-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  display: block;
}

.our-clients__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.Our-clients__box {
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid currentColor;
  color: #afb1b8;
  display: flex;

  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.Our-clients__box:hover {
  color: #2196f3;
}

.Our-clients__box:focus {
  color: #2196f3;
}

.our-clients__item {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .Our-clients__box {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .Our-clients__box {
    width: 170px;
    height: 92px;
  }
  .our-clients__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
}
