@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do__header {
    color: var(--text-headers-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    display: block;
  }

  .what-we-do__list {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 0;
    gap: 30px;
  }

  .what-we-do__item {
    position: relative;
    display: block;
  }

  .what-we-do__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;

    z-index: 2;
  }

  .what-we-do__description--tekst {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #ffffff;
  }
}
