:root {
  --backgound-color: white;
  --background-block-color: #2f303a;
  --text-headers-color: #212121;
  --text-normal-color: #757575;
  --text-hover-color: #2196f3;
  --button-color: #f5f4fa;
  --logo-white: white;
  --button-order-text: white;
  --main-board-text: white;
  --button-color-filter: white;
  --header-color: white;

  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

body {
  font-family: "Roboto", sans-serif;

  background: var(--backgound-color);
  color: var(--text-normal-color);
  font-size: 14px;
  letter-spacing: 0.03em;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
}

p {
  margin: 0;
}

h2,
h3 {
  margin: 0;
}

form,
form:active,
form:focus,
textarea,
textarea:active,
textarea:focus,
input,
input:active,
input:focus {
  outline: none;
  padding: 0;
}

img {
  display: block;
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.padding-none {
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
} */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.no-padding-top {
  padding-top: 0;
}

.no-padding {
  padding-top: 0;
}
